
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  list-style: none;
  }

@font-face {
  font-family: "Droid Sans";
  src: url(fonts/DroidSans.ttf) format("truetype");
}

@font-face {
  font-family: "Droid Sans";
  font-weight: bold;
  src: url(fonts/DroidSans-Bold.ttf) format("truetype");
}

html {
  font: 16px "Lucida Grande", "Droid Sans", "Trebuchet MS", sans-serif;
  font-weight: normal;
  font-style: normal;
  background: url(../img/bg.png) #67a7c7 repeat-x fixed;
  color: #fff;
  }

em {
  font-style: italic;
  }

a:hover {
  text-decoration: underline;
  }


#header {
  position: relative;
  width: 60em;
  margin: 0.5em auto 2em auto;
  z-index: 1;
  }
  #header h1 {
    display: inline-block;
    width: 214px;
    }
  #header h1 a {
    display: inline-block;
    height: 0;
    padding-top: 47px;
    width: 214px;
    overflow: hidden;
    background: url(../img/phonebook.png) no-repeat;
    margin-bottom: -18px;
  }

#search-region {
  display: inline-block;
  margin-left: 1em;
  font-size: .875em;
  }

  #search-region input {
    padding: .125em .5em;
    border: 2px solid #fff;
    border-right: none;
    background: #fff;
    border-radius: .5em 0 0 .5em;
    -moz-border-radius: .5em 0 0 .5em;
    -webkit-border-top-left-radius: .5em;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: .5em;
    }
    #search-region input.with-clear-button {
      padding-right: 24px;
      }
    /* Awful hack to fix WebKit's off-by-one border */
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      #search-region input {
        border-width: 1px;
        }
      }
  #search-region button {
    border-radius: 0 .5em .5em 0;
    -moz-border-radius: 0 .5em .5em 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: .5em;
    -webkit-border-bottom-right-radius: .5em;
    -webkit-border-bottom-left-radius: 0;
    background: transparent url(../img/button.png) repeat-x scroll left center;
    border: 1px solid #FFF;
    cursor: pointer;
    padding: 0.125em 0.5em;
    text-shadow: 0 1px 0 #FFF;
    }

  #search-region #text-wrapper {
    display: inline-block;
    position: relative;
    }
  #search-region #clear-button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    padding-top: 24px;
    height: 0;
    overflow: hidden;
    background: url(../img/clear-search-sprite.png) no-repeat;
    background-position: 0 -50px;
    }
    #search-region #clear-button:hover {
      background-position: 0 -25px;
      }
    #search-region #clear-button.active {
      background-position: 0 0;
      }

#throbber {
  background: transparent url(../img/spin.png) no-repeat;
  width: 16px;
  height: 16px;
  margin-top: 0.7em;
  margin-bottom: -0.1em;
  margin-left: 0.5em;
  margin-right: 0;
  display: inline-block;
  visibility: hidden;
  }
  #throbber.loading {
    visibility: visible;
    }

#menu {
  display: inline-block;
  margin-left: 0.25em;
  }
  #menu li {
    display: inline-block;
    font-size: 0.857em;
    }
  #menu a {
    color: #acd1e3;
    padding: 0.25em 0.75em;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    }
  #menu a:hover {
    background-color: rgba(172, 209, 227, 0.25);
    text-decoration: none;
    }
  #menu a.selected {
    color: #FFF;
    background-color: rgba(172, 209, 227, 0.5);
    }
  #menu li.edit {
    margin-left: 2em;
    }

#phonebook-search.large {
  width: 30em;
  margin: 0 auto;
  }

#phonebook-search.large h1,
#phonebook-search.large #search-region,
#phonebook-search.large #menu {
  display: block;
  margin: 0 auto;
  }

#phonebook-search.large h1 {
  margin-bottom: 2em;
  width: 372px;
  }

#phonebook-search.large h1 a {
  background: url(../img/phonebook-large.png) no-repeat;
  padding-top: 77px;
  width: 372px;
  }

#phonebook-search.large #search-region {
  text-align: center;
  }

#phonebook-search.large #text {
  width: 20em;
  }

#phonebook-search.large #text,
#phonebook-search.large button {
  display: inline-block;
  font-size: 1.33em;
  }

#phonebook-search.large #menu {
  margin-top: 1em;
  text-align: center;
  }

/* Card view */

#results {
  margin: 0 1em 1em;
  text-align: center;
  }

.vcard {
  text-align: left;
  display: inline-block;
  width: 31em;
  vertical-align: top;
  margin: 1em 1em 0 1em;
  }
  .vcard .header,
  .vcard .body,
  .vcard .footer {
  }
  .vcard .header {
    border-image: url(../img/vcard_header_bg.png) 0 132 0 16 repeat stretch;
    -moz-border-image: url(../img/vcard_header_bg.png) 0 132 0 16 repeat stretch;
    -webkit-border-image: url(../img/vcard_header_bg.png) 0 132 0 16 repeat stretch;
    border-width: 0 132px 0 16px;
    height: 45px;
    position: relative;
    }
    .vcard .header h2 {
      position: absolute;
      left: 20px;
      top: 12px;
      font-family: georgia, sans-serif;
      font-size: 1.31em;
      color: #fff;
    }
    .vcard .header a {
      color: #ACD1E3;
      font-size: 0.763em;
      margin-top: 1.5em;
      float: right;
      }
  .vcard .body {
    border-image: url(../img/vcard_body_bg.png) 0 16 0 16 repeat repeat;
    -moz-border-image: url(../img/vcard_body_bg.png) 0 16 0 16 repeat repeat;
    -webkit-border-image: url(../img/vcard_body_bg.png) 0 16 0 16 repeat repeat;
    border-width: 0 16px;
    color: #343434;
    font-size: 0.875em;
    line-height: 1.3;
    overflow: auto;
    padding: 1em 0.5em;
    }
    .vcard .body a {
      color: #276787;
      }
    .vcard .body div,
    .vcard .body ul {
      padding: .375em 0;
      padding-left: 24px;
      border-bottom: 1px dotted #acd1e3;
      background-repeat: no-repeat;
      background-position: 0 .375em;
      }
    .vcard .body div:first-child {
      padding-top: 0;
      }
    .vcard .body div:last-child {
      padding-bottom: 0;
      border-bottom: none;
      }
    .vcard .body li,
    .vcard .body p {
      }
    .vcard .body .side {
      float: right;
      border-bottom: none;
      font-size: 0.857em;
      padding: 0 0 1em 1em;
      text-align: center;
      width: 140px;
      background: transparent url(../img/vcard_body.png) repeat-y scroll -230px 0;
      }
    .vcard img.photo {
      border: none;
      /*padding: 0 0 1em 1em;*/
      display: block;
      margin-bottom: 0.5em;
      }
    .vcard .vcard-export {
      background-image: url(../img/vcard.png);
      }
    .vcard .bugmail {
      background-image: url(../img/bugzilla.png);
      }
    .vcard .vcard-export,
    .vcard .bugmail {
      background-repeat: no-repeat;
      padding-left: 20px;
      }
    .vcard .body div.employee {
      padding-left: 0;
      padding-top: 0;
      padding-bottom: .75em;
      border-bottom: none;
      }
    .vcard .title {
      font-family: georgia, serif;
      font-size: 1.28em;
      color: #000;
      }
    .vcard .employee-type {
      font-family: georgia, serif;
      color: #686868;
      display: inline;
      }
    .vcard .manager {
      font-family: georgia, serif;
      }
    .vcard .org-chart {
      font-family: georgia, serif;
      font-size: 0.833em;
      margin-left: 0.5em;
      }
    .vcard .adr {
      background-image: url(../img/world.png);
      }
    .vcard .telecommunications {
      background-image: url(../img/telephone.png);
      }
    .vcard .email {
      background-image: url(../img/email.png);
      }
    .vcard .im {
      background-image: url(../img/im.png);
      }
    .vcard .note {
      background-image: url(../img/work.png);
      }
  .vcard .footer {
    height: 36px;
    position: relative;
    }
    .vcard .footer > span {
      background-repeat: no-repeat;
      height: 36px;
      position: absolute;
      top: 0;
      }
    .vcard .footer .l {
      background-image: url(../img/vcard_footer_edge.png);
      background-position: left top;
      left: 0;
      width: 1em;
      }
    .vcard .footer .m {
      background-image: url(../img/vcard_footer_middle.png);
      background-position: center top;
      left: 1em;
      right: 1em;
      }
    .vcard .footer .r {
      background-image: url(../img/vcard_footer_edge.png);
      background-position: right top;
      right: 0;
      width: 1em;
      }

/* Editing view */

form#edit {
  text-align: center;
  }

#edit div.vcard {
  width: 45em;
  text-align: left;
  }

  #edit div.vcard .body div,
  #edit div.vcard .body ul {
    background: none;
    border: none;
    padding: 0;
    }

#email-alias-add,
#phone-number-add,
#im-add {
  padding-left: 18px;
  background: url(../img/add.png) no-repeat;
  }

a.remove-link {
  padding-left: 16px;
  background: url(../img/remove.png) no-repeat;
  }

table.edit-table {
  color: #000;
  }

  table.edit-table a {
    color: #0489B7;
    }

  table.edit-table tr td {
    padding: 0.5em;
    border-top: 1px dotted #ACD1E3;
    }

  table.edit-table tbody > tr:first-child td,
  table.edit-table tbody > tr:last-child td {
    border-top: none;
    }

  table.edit-table tr td:first-child {
    width: 10em;
    vertical-align: top;
    }

  table.edit-table tr label {
    font-weight: bold;
    }

  table.edit-table td input + a {
    margin-left: 0.5em;
  }

  table.edit-table img.photo {
    float: left;
    margin-right: 1.5em;
    }

  table.edit-table em.description {
    font-size: 0.857em;
    color: #686868;
    }

  table.edit-table button[type="submit"] {
    margin-top: 2em;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    background: transparent url(../img/button.png) repeat-x scroll left center;
    border: 1px solid #999999;
    cursor: pointer;
    font-size: 1.28em;
    padding: 0.125em 0.5em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }

.autocomplete-w1 {
  /*background:url(../img/shadow.png) no-repeat bottom right;*/
  position: absolute;
  box-shadow: 0 0 16px #000;
  -webkit-box-shadow: 0 0 16px #000;
  -moz-box-shadow: 0 0 16px #000;
  /*top: 4px;
  left: 3px;*/
  /* IE6 fix:  */
  /*_background: none;
  _top: 1px;*/
  }

.autocomplete {
  width: 300px;
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  text-align: left;
  max-height: 350px;
  overflow: auto;
  /*margin: -6px 6px 6px -6px;*/
  /* IE specific:  */
  /*_height: 350px;
  _margin: 0px 6px 6px 0;*/
  overflow-x: hidden;
  }

  .autocomplete .selected {
    background: #CCC;
    }

  .autocomplete div {
    padding: 2px 5px;
    white-space: nowrap;
    color: #666;
    font-size: 12px;
    }

  .autocomplete strong {
    font-weight: normal;
    color: #0489B7;
    }

/* Tree view */

#page {
  position: relative;
  }

#orgchart,
#orphans {
  color: #ccc;
  margin: 1em;
  padding: 0.5em;
  width: 32em;
  background-color: #FFF;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  box-shadow: 0 0 16px #000;
  -moz-box-shadow: 0 0 16px #000;
  -webkit-box-shadow: 0 0 16px #000;
  }

  #orgchart.filter-view,
  #orphans.filter-view {
    background-color: #333;
    }

#person {
  position: absolute;
  top: -75px;
  bottom: 0;
  left: 34em;
  right: 0;
  }
  #person div.vcard {
    position: absolute;
    margin: 68px 0 0 0;
    }
    #person div.vcard.snap-to-top {
      position: fixed;
      margin-top: 0;
      }

span.title {
  color: #666;
  }

div.tree > ul {
  /*
  border-image: url(../img/org_bg.png) 21 24 25 24 repeat repeat;
  -moz-border-image: url(../img/org_bg.png) 21 24 25 24 repeat repeat;
  -webkit-border-image: url(../img/org_bg.png) 21 24 25 24 repeat repeat;
  border-width: 21px 24px 25px;
  */
  }

div.tree ul {
  padding-left: 20px;
  }

  div.tree ul li {
    list-style-type: disc;
    cursor: default;
    padding: 0.25em 0 0.25em 4px;
    margin-top: 1px;
    font-size: 14px;
    }

    div.tree ul li.hr-node {
      -moz-user-select: -moz-none;
      }
      div.tree ul li.hr-node:hover {
        background-color: rgba(39, 103, 135, 0.5);
        }

    div.tree ul li.disabled {
      opacity: 0.65;
      filter: url(effects.svg#fog);
      }
      div.tree ul li.disabled a {
        color: #666;
        }

    div.tree ul li a {
      color: #276787;
      margin-left: 0.2em;
      }

    div.tree ul li span.title {
      margin-left: 1em;
      font-size: 0.857em;
      }

    div.tree ul li.highlighted {
      box-shadow: 0 0 16px #FFF;
      -moz-box-shadow: 0 0 16px #FFF;
      -webkit-box-shadow: 0 0 16px #FFF;
      border-radius: 0.4em;
      -moz-border-radius: 0.4em;
      -webkit-border-radius: 0.4em;
      background-color: #FFF;
      }

    div.tree ul li.selected {
      background-color: #276787;
      }

      div.tree ul li.selected a,
      div.tree ul li.selected span.title {
        color: #FFF;
        }

    div.tree ul li.expanded {
      list-style-image: url(../img/expanded.png);
      }

    div.tree ul li.collapsed {
      list-style-image: url(../img/collapsed.png);
      }

    div.tree ul li.leaf {
      list-style-image: none;
      }

/* Facewall View */
div.photo-frame {
  display: inline-block;
  margin: 2em;
  cursor: pointer;
  -moz-user-select: none;
  position: relative;
  padding: 0;
  }

  div.photo-frame span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.66);
    color: #FFF;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 0.687em;
    padding: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    display: none;
    }
  div.photo-frame:hover span {
    display: block;
    }

  div.photo-frame img {
    box-shadow: 0 0 16px #333;
    -moz-box-shadow: 0 0 16px #333;
    -webkit-box-shadow: 0 0 16px #333;
    }

  div.photo-frame.disabled {
    filter: url(effects.svg#fog);
    }

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(32, 32, 32, 0.5);
  text-align: center;
  vertical-align: center;
  display: none;
  overflow: hidden;
  z-index: 2;
  }

  #overlay div.vcard {
    display: inline-block;
    text-align: left;
    }

  #overlay div.vcard div.close-button {
    position: absolute;
    left: -30px;
    top: -15px;
    width: 42px;
    height: 42px;
    background: transparent url(../img/close-button.png);
    cursor: pointer;
  }

body.lightbox #overlay {
  display: block;
  }

body.lightbox #header,
body.lightbox #results {
  filter: url(effects.svg#blur);
  }

