{{input type="text" value=username placeholder="Your LDAP email."
        size=50 required="required"}}
{{input type="password" value=password placeholder="******"
        size=50 required="required"}}

<button {{action 'saveCredentials'}}>Log in</button>

{{outlet}}
